@keyframes neon-glow {
  0% {
    text-shadow: 0 0 10px #e600ff, 0 0 20px #e600ff, 0 0 30px #e600ff;
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 5px #e600ff, 0 0 10px #9370db, 0 0 15px #9370db;
    opacity: 0.9;
  }
  100% {
    text-shadow: 0 0 10px #e600ff, 0 0 20px #e600ff, 0 0 30px #e600ff;
    opacity: 1;
  }
}

.neon-glow-effect {
  animation: neon-glow 2s ease-in-out infinite;
}
